@{
    ViewBag.Title = "mostrarproductos";
}
<div class="jumbotron">
    <h2>PRODUCTOS</h2>
    <p class="lead"> Golosinas<img src="~/Golosinas.jpg" width="70" height="70">
    <p class="lead"> Electrodomésticos<img src="~/electrodomesticos.jpg" width="70" height="70">
    <p class="lead"> Electrónica<img src="~/electronica.jpg" width="70" height="70">
    <p class="lead"> Muebles<img src="~/muebles.jpg" width="70" height="70">
    <p class="lead"> Ropa<img src="~/ropa.jpg" width="70" height="70">
    <p class="lead"> Accesorios<img src="~/accesorios.jpg" width="70" height="70">

</div>
    
