@{
    ViewBag.Title = "Market True";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>El mejor Market de productos originales</h3>

    <p>Es una pagina online que brinda productos Originales de marcas que no se encuentran en Perú</p>
</div>
  
