@{
    ViewBag.Title = "Contactanos en:";
}
<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>Nuestras redes Sociales</h3>

    <address>
        <strong>Facebook:</strong> markettrueoriginal<br />
        <strong>Whatsapp:</strong> 957842325<br />
        <strong>Instagram:</strong>   <a href="mailto:Support@example.com">markettrue</a><br />
        <strong>Twitter:</strong> <a href="mailto:Marketing@example.com">markettrueofficial</a><br />
        <strong>Correo:</strong> <a href="mailto:Marketing@example.com">markettrue@gmail.com</a>
    </address>
</div>



