@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div class="row-fluid">
    <div class="span12">

        <p>Nosotros nos encargamos de enviar productos a todos nuestros clientes para que asi puedan gozar de tecnologías que no se encuentran en el País.</p>
    </div>

</div>


