@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ENTERPRISE DDA<br />
    Huasacache Y 2-A<br />
    <abbr title="Phone">Telefono Celular:</abbr>
    965718977
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">enterprisedda@gmail.com.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">72468973@ucsm.edu.pe</a>
</address>